<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jeffery Potts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="top-banner">
        <img src="~/Images/Top Banner.jpg" />
    </div>
    <div class="nav-bar">
        @Html.ActionLink("HOME", "Index", null, new { @class = "navbar-button" })
        @Html.ActionLink("CHARACTERS", "Unauthorized", null, new { @class = "navbar-button" })
        @Html.ActionLink("SHOWS", "Unauthorized", null, new { @class = "navbar-button" })
        @Html.ActionLink("EDUCATION", "Unauthorized", null, new { @class = "navbar-button" })
        @Html.ActionLink("CONTACT", "Unauthorized", null, new { @class = "navbar-button" })
    </div>
    <div class="body-content">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <div class="page-footer">
        <div id="ContactButtons">
            <a href="/Home/Unauthorized"><img id="FacebookIcon" src="~/Images/cartoonfacebooklogo.png" /></a>
            <a href="/Home/Unauthorized"><img id="CellPhoneIcon" src="~/Images/cartooncellphonelogo.png" /></a>
            <a href="/Home/Unauthorized"><img id="EmailIcon" src="~/Images/cartoonemaillogo.png" /></a>
            <a href="/Home/Unauthorized"><img id="InstagramIcon" src="~/Images/cartooninstagramlogo.png" /></a>
        </div>
        <div id="Copyright">
            <p>All licensing and copyright paid to Joshua Potts of Joshua Potts Inc.</p>
            <p>Copright 2016</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
